<div class="mb-3">
  <div class="flex justify-between items-center">
    <div>
      <h2 class="text-3xl font-bold mb-1"><%= title %></h2>
    </div>
    <div>
      <a href="<%= destination %>" class="px-3 py-2 rounded-md hover:bg-yellow-200 transition-colors duration-200">
        Back
      </a>
    </div>
  </div>
  <p class="leading-5"><%= subtitle %></p>
</div>